.make_img_body {
	width:289px;
	height:300px;
	margin:0px;
}
.rssContent {
	background:#ffffff;
	border:#bacae1 1px solid;
	height:218px;
	margin-top:8px;
	overflow-y:auto;
}
.messageTitle {
	background:url(../../../img/rss.gif) no-repeat;
}
.rssElement {
	padding:7px;
}
.rssHover {
	background:#e0e8f3;
}
.rssIcon {
	margin-right:7px;
}
.readMess {
	color:#777777;
}
.pointer {
	cursor:pointer;
}
.readAll, .unreadAll, .delAll, .rssRefresh {
	width:28px;
	height:29px;
	margin:0px;
	padding:0px;
}
.readAll {
	background:url(rss_controls_icons.png) no-repeat 0 1px;
}

.unreadAll {
	background:url(rss_controls_icons.png) no-repeat 0 -49px;
}
.delAll {
	background:url(rss_controls_icons.png) no-repeat 0 -99px;
}
.readAllHover {
	background:#e0e8f3 url(rss_controls_icons.png) no-repeat 0 1px;
}
.rssRefresh {
	background:url(rss_refresh.png) no-repeat 1px 1px;
}
.rssRefreshHover {
	background:#e0e8f3 url(rss_refresh.png) no-repeat 1px 1px;
}
.unreadAllHover {
	background:#e0e8f3 url(rss_controls_icons.png) no-repeat 0 -49px;
}
.delAllHover {
	background:#e0e8f3 url(rss_controls_icons.png) no-repeat 0 -99px;
}
#rssControls {
	padding-top:5px;
	text-align:center;
}
#dt_loader {
	background:url(dt_dadget_loader.png) no-repeat;
	width:65px;
	height:65px;
	position:absolute;
	display:none;
	left:105px;
	top:115px;
	z-index:1010;
}
#block_content {
	background:#d8d7d4;
	position:absolute;
	top:32px;
	left:9px;
	width:271px;
	height:255px;
	display:none;
	#filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
}