/* This is just an example.  You shouldn't do this. */
#tabpopup-hello
{
  color: red ! important;
}
#main-window {
  background-color: #e1e1e1;
}

#MiniTitle {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
line-height: normal;
color: #000000;
text-align: center;
text-align: center;
margin: 0px;
}

#MiniUrlData {
/*background: url(head-pop-back.gif) repeat-x 0px 0px;
background-color: #afd6ea;*/
margin: 0;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
line-height: normal;
color: #000000;
text-align: center;
}
#tabpreviewcanvas {
margin: 0;
text-align: center;
}
