html,body{height:100%;overflow:hidden;}
*:focus{outline:none;}
#facebookConnect{font-family:Helvetica;text-shadow:0 0 2px rgba(0,0,0,0.35);}
#linkToYourExistingSkypeAccount{font-family:Helvetica;text-shadow:0 0 2px rgba(0,0,0,0.35);}
#usernameLabel{font-family:Helvetica;text-shadow:0 0 2px rgba(0,0,0,0.35);}
#selectUsernameLabel{font-family:Helvetica;text-shadow:0 0 2px rgba(0,0,0,0.35);}
.combobox input{font-family:Helvetica;}
.dropdown li{font-family:Helvetica;}
.dropdown li.selected{background-color:#007ec4;}
#passwordLabel{font-family:Helvetica;text-shadow:0 0 2px rgba(0,0,0,0.35);}
#password{font-family:Helvetica;font-size:18px;}
#problemsSigningIn{font-family:Lucida Grande;text-shadow:0 0 2px rgba(0,0,0,0.35);}
.checkbox{font-family:Lucida Grande;text-shadow:0 0 2px rgba(0,0,0,0.35);}
.button,.facebookButton{float:left;}
.rtl .button,.rtl .facebookButton{float:right;}
.button span{font-family:Helvetica;line-height:32px;text-shadow:0 1px 1px rgba(255,255,255,0.75);}
.facebookButton span{font-family:Helvetica;line-height:32px;text-shadow:0 0 1px rgba(255,255,255,0.35);}
#createAccountInlineContainer{font-family:Helvetica;text-shadow:0 0 2px rgba(0,0,0,0.35);line-height:32px;}
#startAgainLink{font-family:Helvetica;text-shadow:0 0 2px rgba(0,0,0,0.35);line-height:32px;}
#createAccountLabel{font-family:Helvetica;text-shadow:0 0 2px rgba(0,0,0,0.35);}
#createAccountWithFacebook{font-family:Helvetica;text-shadow:0 0 2px rgba(0,0,0,0.35);}
#facebookLoginLabel{font-family:Helvetica;text-shadow:0 0 2px rgba(0,0,0,0.35);}
#facebookLoginDescription{font-family:Lucida Grande;text-shadow:0 0 2px rgba(0,0,0,0.35);}
#messageBody{font-family:Helvetica;}
#capsLockBody{font-family:Helvetica;}
#loggedInAs{font-family:Helvetica;text-shadow:0 0 2px rgba(0,0,0,0.35);}
#name{font-family:Helvetica;text-shadow:0 0 2px rgba(0,0,0,0.35);}