#facebookConnect{font-family:Arial,Helvetica,sans-serif;}
#linkToYourExistingSkypeAccount{font-family:Arial,Helvetica,sans-serif;}
#usernameLabel{font-family:Arial,Helvetica,sans-serif;}
#selectUsernameLabel{font-family:Arial,Helvetica,sans-serif;}
.combobox input{font-family:Arial,Helvetica,sans-serif;}
.dropdown li{font-family:Arial,Helvetica,sans-serif;}
.dropdown li.selected{background-color:#06f;}
#passwordLabel{font-family:Arial,Helvetica,sans-serif;}
#password{margin-top:8px;font-size:10px;}
#problemsSigningIn{font-family:Tahoma,Arial,Helvetica,sans-serif;}
.checkbox{font-family:Tahoma,Arial,Helvetica,sans-serif;}
.button span{font-family:Arial,Helvetica,sans-serif;line-height:30px;}
.facebookButton span{font-family:Arial,Helvetica,sans-serif;line-height:30px;}
#createAccountInlineContainer{font-family:Arial,Helvetica,sans-serif;}
#startAgainLink{font-family:Arial,Helvetica,sans-serif;}
#createAccountLabel{font-family:Arial,Helvetica,sans-serif;}
#createAccountWithFacebook{font-family:Arial,Helvetica,sans-serif;}
#facebookLoginLabel{font-family:Arial,Helvetica,sans-serif;}
#facebookLoginDescription{font-family:Tahoma,Arial,Helvetica,sans-serif;}
#messageBody{font-family:Arial,Helvetica,sans-serif;}
#capsLockBody{font-family:Arial,Helvetica,sans-serif;}
#loggedInAs{font-family:Arial,Helvetica,sans-serif;}
#name{font-family:Arial,Helvetica,sans-serif;}