body {
	width:300px;
	height:280px;
	margin:0px;
	padding:0px;
}
a {
outline-style:none;
}
.displayNone {
	display:none;
}
.settingsImageLeft , .settingsImageRight, .buttNextDisable, .buttPrevDisable {
	background:url(../img/left_right_butts.gif) no-repeat;
}
.settingsImageRight {
	background-position:0 -100px;
}
.buttPrevDisable {
	background-position:0 -75px;
}
.buttNextDisable {
	background-position:0 -175px;
}
.settingsButtonLeftCell .hover {
	background-position:0 -25px;
}
.settingsButtonRightCell .hover {
	background-position:0 -125px;
}
.settingsButtonLeftCell, .settingsButtonRightCell {
	padding-top:2px;
}
.slotButt {
	background:url(../img/slot_button.gif) no-repeat;
	width:68px;
	height:63px;
	padding:16px 0 0 18px;
	text-align:left;
	cursor:pointer;
}
html .slotButtHover {
	background-position:0 -70px;
}
html .slotSelected {
	background-position:0 -140px;
}
.sWindowTopLeft, .sWindowTopRight, .sWindowTop, .sWindowBottomLeft, .sWindowBottomRight, .sWindowBottom, .sWindowClose {
	background:url(../img/slots_window.png) no-repeat;
}
.sWindowTopLeft, .sWindowTopRight, .sWindowTop {
	height:23px;
}
.sWindowTopLeft, .sWindowBottomLeft, .sWindowLeft {
	padding-left:4px;
}
.sWindowTopRight, .sWindowBottomRight, .sWindowRight {
	padding-right:4px;
}
.sWindowTop, .sWindowBottom { background-repeat:repeat-x;}
.sWindowTopRight { background-position:right -60px;}
.sWindowTop{ background-position:0 -30px; text-align:right;}
.sWindowBottomLeft { background-position:0 -90px;}
.sWindowBottom {background-position: 0 -100px;}
.sWindowBottomRight { background-position:right -110px;}
.sWindowClose { background-position:2px -118px; height:16px; width:16px; cursor:pointer; margin-top:4px;}
.sWindowLeft {background:url(../img/slots_window_left.png) repeat-y;}
.sWindowRight {background:url(../img/slots_window_right.png) repeat-y top right;}
.sWindowMiddle {
	background:#ffffff;
	height:244px;
	overflow-y:auto;
}
#slots_window {
	position:absolute;
	top:7px;
	left:0px;
	display:none;
	z-index:1500px;
}
.driveDivContainer {
	border-bottom:#d7d7d7 1px solid;
	cursor:pointer;
}
.driveDiv {
	padding:4px 8px;
	white-space:nowrap;
	overflow-x:hidden;
	width:95%;
}
.driveRadioButt {
	outline-style:none;
	margin-right:4px;
}
.driveIcon {
	margin-right:4px;
	outline-style:none;
}
.driveTXT {
	outline-style:none;
}
.sHintTopLeft, .sHintTopRight, .sHintTop, .sHintBottomLeft, .sHintBottom, .sHintBottomRight, .hintArrow {
	background:url(../img/slots_hint.png) no-repeat;
}
.sHintTopLeft, .sHintTopRight, .sHintTop {
	height:7px;
}
.sHintTopLeft, .sHintBottomLeft {
	padding-left:3px;
}
.sHintTopRight, .sHintBottomRight, .sHintRight {
	padding-right:4px;
}
.sHintTop, .sHintBottom { background-repeat:repeat-x;}
.sHintTopRight { background-position:right -30px;}
.sHintTop{ background-position:0 -15px; text-align:right;}
.sHintBottomLeft { background-position:0 -45px;}
.sHintBottom {background-position: 0 -55px;}
.sHintBottomRight { background-position:right -65px;}
.sHintRight { background:url(../img/slots_hint_right.png) top right repeat-y;}
.hintArrow { background-position: 0 -75px; height:7px; width:9px; margin-left:30px; float:left;}
.sHintMiddle { background:#fceca4; padding:3px 7px;}
.fontSize0 {
	font-size:0px;
}
.sHint {
	display:none;
}
.driveHover {
	background:#f3f5f8;
}
.tabLeft, .tabRight, .tabMiddle {
	background:url(../img/settings_tab.gif) no-repeat;
	height:20px;
	float:left;
}
.tabLeft { padding-left:3px; background-position:0 -90px;}
.tabMiddle { background-repeat:repeat-x; background-position:0 -120px; padding:4px 10px 0 10px;}
.tabRight { padding-right:3px; background-position:right -150px;}
.hover .tabLeft { background-position:0 -180px;}
.hover .tabMiddle { background-position:0 -210px;}
.hover .tabRight { background-position:right -240px;}
html #tabs .selected .tabLeft {background-position:0 0;}
html #tabs .selected .tabMiddle { background-position:0 -30px; }
html #tabs .selected .tabRight { background-position:right -60px;}
#tabs { list-style:none; margin:0px; padding:0px; float:left; padding-left:1px; position:relative; z-index:1000; margin-bottom:-1px;}
#tabs li { float:left; margin:0px; padding:0px;}
.clear {
	clear:both;
}
#tab1_content {
	display:none;
}
.slotBlock {
	float:none;
	font-size:12px;
	height:60px;
	padding-top:12px;
}
.slotBrowse {
	padding:0 4px;
}
.slotImg {
	margin-left:7px;
	margin-right:7px;
	cursor:pointer;
}
.slotBrowse, .addSlot {
	margin-left:7px;
}
.addSlot {
	cursor:pointer;
}
.slotLabel {
	font-size:12px;
	width:180px;
}
.slotNum {
	color:#4e4e4e;
}
#window_title {
	font-size:12px;
}
.dellSlot { background:url(../img/dell_slot.gif) no-repeat; height:22px; width:22px; margin-left:7px;}
.dellSlotHover { background-position:0 -30px;}
html .dellSlotDisable { background-position:0 -60px;}